.spring-title{
    background-image: url(../img/spring-background.png);
    background-repeat: no-repeat;
    height: 260px;
    background-size:500px;
    background-position: center;
    text-align:center;
    margin-top:210px;

}

.summer-title{
    background-image: url(../img/summer-background.png);
    background-repeat: no-repeat;
    height: 260px;
    background-size:500px;
    background-position: center;
    text-align:center;
    margin-top:210px;
   

}

.autumn-title{
    background-image: url(../img/autumn-background.png);
    background-repeat: no-repeat;
    height: 260px;
    background-size:500px;
    background-position: center;
    text-align:center;
    margin-top:210px;
  

}

.winter-title{
    background-image: url(../img/winter-background.png);
    background-repeat: no-repeat;
    height: 260px;
    background-size :500px;
    background-position: center;
    text-align:center;
    margin-top:210px;

}



.spring-title h1{
    font-size:90px;
    margin-top:50px;
    color:white;
    font-family: 'Copperplate','Sitka Display','Savoye LET',sans-serif;

}

.summer-title h1{
    font-size:90px;
    margin-top:50px;
    color:white;
    font-family: 'Copperplate','Sitka Display','Savoye LET',sans-serif;

}


.autumn-title h1{
    font-size:90px;
    margin-top:50px;
    color:white;
    font-family: 'Copperplate','Sitka Display','Savoye LET',sans-serif;

}

.winter-title h1{
    font-size:90px;
    margin-top:50px;
    color:white;
    font-family: 'Copperplate','Sitka Display','Savoye LET',sans-serif;

}

.Features h1{
    padding-top:20px;
}

.spring-color{
    margin:20px 0;
}

.spring-color img{
    margin-bottom:20px;
}

.summer-color{
    margin:20px 0;
}

.summer-color img{
    margin-bottom:20px;
}

.autumn-color{
    margin:20px 0;
}

.autumn-color img{
    margin-bottom:20px;
}

.winter-color{
    margin:20px 0;
}

.winter-color img{
    margin-bottom:20px;
}

.atmosphere li{
    list-style:none;

}

.skin li{
    list-style:none;

}

.eyes li{
    list-style:none;

}

.hair li{
    list-style:none;

}

.return-btn{
        display: inline-block;
        background-color:black;
        font-size: 25px;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        border-radius: 4px;
        transition: .3s;
        
        }

.return-btn:hover {
        transform: translate3d(0, 5px, 0);
        color: black;
        background: #fff;
                }